$icon-font-path: '../fonts/';

$bg-color: #1e252c;



// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $bg-color;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
