// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600');
$exo-2-font: 'Exo 2', sans-serif;
$icon-font-path: '../fonts/';

// Colors
$bg-color: #1e252c;
$bg-accent-color: #263038;
$accent-color: #48CFAD;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
	font-family: $exo-2-font;
	font-weight: normal;
	background-color: $bg-color;
	color: white !important;
}

h1, h2, h3 ,h4 ,h5, h6 {
	font-family: $exo-2-font;
	font-weight: 600;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
