// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600');
$exo-2-font: 'Exo 2', sans-serif;
$icon-font-path: '../fonts/';

// Colors
$bg-color: #1e252c;
$bg-accent-color: #263038;
$accent-color: #48CFAD;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
	font-family: $exo-2-font;
	font-weight: normal;
	background-color: $bg-color;
	color: white !important;
}

h1, h2, h3 ,h4 ,h5, h6 {
	font-family: $exo-2-font;
	font-weight: 600;
}

// NAV
.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	background-color: $bg-color;
}
.navbar-nav a, a.navbar-brand {
	color: white !important;
}
.navbar-nav a:hover {
		color: $accent-color !important;
}

.home-icon {
	height: 50px;
	width: 50px;
	margin-right: 10px;
}
.fl-left {
	float: left;
}
.fa {
	font-size: 1.6em;
	vertical-align: middle;
}

// SEARCH
.dropdown.dropdown-lg .dropdown-menu {
		margin-top: -1px;
		padding: 6px 20px;
		background-color: $bg-accent-color;
		background-clip: border-box;
}
.dropdown-toggle {
	border: 0;
	border-radius:0;
	height: 34px;
	background-color: white;
}
.input-group-btn .btn-group {
	display: flex !important;
	border: 0;
	border-radius: 4;
}
.btn-group .btn {
	border-radius: 4;
	margin-left: -1px;
}
.btn-group .btn:last-child {
	border: 0;
	border-radius: 2;
}
.btn-group .form-horizontal .btn[type="submit"] {
	border: 0;
	border-radius: 2;
}
.btn-primary {
	background-color: $accent-color;
}

.form-horizontal{
	padding: 10px 0 10px 0;
}
.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
	border: 0;
	border-radius: 4;
}
.form-control {
	border: 0;
	border-radius: 4px !important;
	background-color: white;
}

// POSTER GRID
#search-container {
	margin: 20px 0 20px 0;
}
.poster {
	margin: 20px 1% 20px 1%;
	width: 47%;
	display: inline-block;
	position: relative;
	border-radius: 4px;
			box-shadow: 0px 0px 15px black;
	&:after {
		padding-top: 150%;
		/* 16:9 ratio */
		position: block;
	}
	&-img {
		width: 100%;
		height: 100%;
		border-radius: 4px;
	}
	&-desc {
		background-color: $accent-color;
		border-radius: 4px;
		opacity: .8;
		position: absolute;
		height: 0;
		overflow: hidden;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	p, h2 {
		color:white;
		text-align: center;
	}
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	#adv-search {
			width: 500px;
			margin: 0 auto;
	}
	.dropdown.dropdown-lg {
			position: static !important;
	}
	.dropdown.dropdown-lg .dropdown-menu {
			min-width: 500px;
	}

	.poster {
		margin: 20px 2.5% 20px 2.5%;
		width: 14.5%;
	}
}
